@media (max-width: 768px) {
  .hero {
    padding: 10px 0 0 0;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .hero-buttons {
    justify-content: center;

    .btn {
      margin-bottom: 15px;
      font-size: 14px;
      width: auto;
      padding: 15px 15px;
      border-radius: 5px;
    }
  }

  .hero-image {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }

  .hero-shape {
    width: 100vw;
    max-width: 100vw;
    top: 60px;
    transform: translateX(20%);
    border-bottom-left-radius: 35%;
  }

  .hero-illustration {
    width: 100%;
    padding-right: 0;
  }
}
