
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px 60px;
    text-align: center;
  }

  .logo {
    height: 30px;
    justify-content: left;
  }

  .hamburger-menu {
    display: flex;
    height: 20px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links a {
    margin-left: 0;
  }
}
