@use '../base/variables' as vars;

.hero {
  max-width: vars.$container-width;
  margin: 0 auto;
  padding: vars.$spacing-4xl vars.$spacing-4xl;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-image{
  position: relative;
  flex: 1;
}

.hero-illustration{
  position: relative;
  width: 120%;
  height: auto;
  padding-right: 100px;
  z-index: 1;
}

.hero-shape {
  position: absolute;
  top: 10%;
  left: 30%;
  height: auto;
  width: 900px;
  z-index: 0;
  border-bottom-left-radius: 30%;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: vars.$spacing-3xl;
  font-weight: 500;
}

.hero-text p {
  margin-bottom: vars.$spacing-xl;
}

.hero-buttons {
  display: flex;
  justify-content: left;
  gap: 5%;
  align-items: center;
}

.hero-buttons .btn {
  text-decoration: none;
  padding: vars.$spacing-md 35px;
  border-radius: vars.$border-radius-md;
  font-weight: bold;
  font-size: vars.$font-size-small;
}

.hero-buttons .btn:hover {
  opacity: vars.$hover-opacity;
}

.firefox {
  background: #f1f1f1;
  color: #333;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
