@use '../base/variables' as vars;

.navbar {
  max-width: vars.$container-width;
  margin: 0 auto;
  padding: vars.$spacing-4xl vars.$spacing-4xl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: vars.$font-size-base;
}

.logo {
  width: auto;
  height: 40px;
}

.navbar-links a {
  margin-left: 90px;
  text-decoration: none;
  color: vars.$color-gray-dark;
  font-size: vars.$font-size-base;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-links a:hover {
  color: vars.$color-accent;
}

.navbar-links a.login-button {
  background: vars.$color-accent;
  color: white;
  padding: vars.$spacing-md vars.$spacing-3xl;
  border-radius: vars.$border-radius-md;
  box-shadow: 0px 4px 20px vars.$color-shadow-medium;
}
